# REWRITE PAGE-URLS
Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteBase /
# Rewrite /foo/bar to /foo/bar.php
RewriteRule ^([^.?]+)$ %{REQUEST_URI}.php [NC,L]
# Return 404 if original request is /foo/bar.php
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
RewriteRule .* - [L,R=404]
# NOTE! FOR APACHE ON WINDOWS: Add [NC] to RewriteCond like this:
# RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$" [NC,L]
#FORCE HTTPS
# RewriteCond %{HTTPS} !=on
# RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


# PREVENT DIRECTORY LISTING
IndexIgnore *

# DISALLOW FOREIGN SCRIPT EXECUTION
Options -ExecCGI
AddHandler cgi-script .pl .py .jsp .sh .asp .aspx .cs .cgi .obj .exe .pas .vb

# PROTECT WEBSITE FROM HOT-LINKING
# RewriteCond %{HTTP_REFERER} !^$  
# RewriteCond %{HTTP_REFERER} !^http://([ -a-z0-9]  \.)?bonaventuremolokwu\.info [NC]  
# RewriteRule \.(gif|jpe?g|png)$ - [F,NC,L]